# Terraform directories and state files
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars

# Crash log files
crash.log

# Ignore any local override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Ignore Terraform binary / executables
terraform.exe
*.exe

# OS / IDE files
*.swp
*.vscode/
.DS_Store
Thumbs.db
